{% load video %}

<div class="snippet jumpTo well well-sm"
     data-start="{{ snippet.start_time }}"
     data-end="{{ snippet.end_time }}">

    <div class="row">


        <div class="col-xs-4">
            <div class="vid-thumb">
                {%  moving_thumb snippet.asset.entry_id snippet.get_kaltura_thumb_start_offset snippet.get_kaltura_thumb_end_offset %}
                <div class="timer">
                    {{ snippet.duration|hmmss }}
                </div>
                <div class="times">
                    {{ snippet.start_time|hmmss }} - {{ snippet.end_time|hmmss }}
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <div class="snippet-title">
                <b>{{ snippet.title }}</b>
            </div>
            <div class="snippet-tags">
                {% for tag in snippet.tags.all %}
                    <span class="bg-info">
                        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    </span>
                    &nbsp;
                {% endfor %}
            </div>
        </div>

    </div>
</div>

