{% extends "base.html" %}


{% block header %}
    {% for asset in object_list|slice:"0:1"%}
        {{ asset.series.name }}
    {% endfor %}
{% endblock %}


{% block content %}
    <div class="row">
        {% for asset in object_list %}
            <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="thumbnail" style="height: 180px; overflow: hidden">
                    <a href="{{ asset.get_absolute_url }}">
                        <img src="{{ asset.thumbnail_url }}" width="120" height="90" alt="...">
                    </a>

                    <div class="caption">
                        <div class="badge" > פרק מס: {{ asset.episode }}</div>
                        <div>
                            {{ asset.title }}
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

