{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
{% endblock %}


{% block content %}


    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-9">
            <div class="embed-responsive embed-responsive-4by3">
                <script type="text/javascript"
                        src="{{ object.get_dynamic_embed_script }}"></script>
            </div>
            <h1>
                {{ object.full_name }}
                <i>{{ object.episdoe }}</i>
            </h1>

        </div>
        <div class="col-md-3">
            <p>
                {% for genre in object.genres.all %}
                    <a class="btn btn-info btn-block" href="{{ genre.get_absolute_url }}">
                        {{ genre }}
                    </a>
                {% endfor %}
            </p>
        </div>
        <div class="col-md-3" >
        <span id="snippets">
                {% for snippet in object.snippets.all %}
                    {% include "video/_snippet.html" %}
                {% endfor %}
        </span>
        <div>
            <input type="text" id="start">
            <button cls="btn btn-xs btn-info" id="save-start">התחל<i class="glyphicon glyphicon-save"></i></button>
        <span id="timer_end_span" hidden="true">
            <input type="text" id="end">
            <button cls="btn btn-xs btn-info" id="save-end">סיים<i class="glyphicon glyphicon-save"></i></button>
        </span>

        <span id="snippet_editor" hidden="true">
            <form method="post" id="add-snippet">
                {% csrf_token %}
                <span class="badge">
                    <span id="snipEd_end_display">end time</span>
                    -
                    <span id="snipEd_start_display">start time</span>
                </span>
                <input type="text" id="snipEd_start" hidden="true" name="start_time">
                <input type="text" id="snipEd_end" hidden="true" name="end_time">
                <input type="text" id="snipEd_title" value="הכנס שם למקטע" name="title">
                <input type="text" id="snipEd_desc" value="ההכנס תיאור למקטע" name="description">
                <button id="snipEd_save" class="btn btn-default">Save</button>
            </form>
        </span>


        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/jquery.form.js" %}"></script>
    <script src="{% static "js/player.js" %}"></script>
{% endblock %}

