{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-9">
            <div class="embed-responsive embed-responsive-4by3">
                <script type="text/javascript"
                        src="{{ object.get_dynamic_embed_script }}"></script>
            </div>
            <h1>
                {{ object.full_name }}
                <i>{{ object.episdoe }}</i>
            </h1>

        </div>
        <div class="col-md-3">
            <p>
                {% for genre in object.genres.all %}
                    <a class="btn btn-info btn-block" href="{{ genre.get_absolute_url }}">
                        {{ genre }}
                    </a>
                {% endfor %}
            </p>
        </div>
    </div>

    <div>
        <input type="text" id="start">
        <button cls="btn btn-xs btn-info" id="save-start"><i class="glyphicon glyphicon-save"></i></button>
        <input type="text" id="end">
        <button cls="btn btn-xs btn-info" id="save-end"><i class="glyphicon glyphicon-save"></i></button>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static "js/player.js" %}"></script>
{% endblock %}

