{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
{% endblock %}


{% block content %}


    <form method="post" id="add-snippet">
        {% csrf_token %}
        <input type="text" name="start_time" value="111">
        <input type="text" name="end_time" value="123">
        <button>Save</button>
    </form>
    <ul id="snippets">
        {% for snippet in object.snippets.all %}
            {% include "video/_snippet.html" %}
        {% endfor %}
    </ul>

    <div class="row">
        <div class="col-md-9">
            <div class="embed-responsive embed-responsive-4by3">
                <script type="text/javascript"
                        src="{{ object.get_dynamic_embed_script }}"></script>
            </div>
            <h1>
                {{ object.full_name }}
                <i>{{ object.episdoe }}</i>
            </h1>

        </div>
        <div class="col-md-3">
            <p>
                {% for genre in object.genres.all %}
                    <a class="btn btn-info btn-block" href="{{ genre.get_absolute_url }}">
                        {{ genre }}
                    </a>
                {% endfor %}
            </p>
        </div>
    <div class="col-md-3">
        <div id="snippet1" class="btn btn-lg btn-success btn-block" >
                <p> title here</p>
                <p> st:art - en:d</p>
        </div>
        <div id="snippet2">
                <p> title here</p>
                <p> st:art - en:d</p>
        </div>
    <div id="snippet3">
                <p> title here</p>
                <p> st:art - en:d</p>
        </div>
    </div>


    <div>
        <input type="text" id="start">
        <button cls="btn btn-xs btn-info" id="save-start">התחל<i class="glyphicon glyphicon-save"></i></button>
        <span id="timer_end_span" hidden="true">
            <input type="text" id="end">
            <button cls="btn btn-xs btn-info" id="save-end">סיים<i class="glyphicon glyphicon-save"></i></button>
        </span>
        <span id="snippet_editor" hidden="true">
            <span class="badge">
                <span id="snipEd_end">end time</span>
                -
                <span id="snipEd_start">start time</span>
            </span>
            <input type="text" id="snipEd_title" value="asdas">
            <button id="snipEd_save" class="btn btn-default">Save</button>
        </span>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/jquery.form.js" %}"></script>
    <script src="{% static "js/player.js" %}"></script>
{% endblock %}

