{% extends "base.html" %}


{% block header %}

    <a href="{% url "genre_list" %}">
        ג'נרים
    </a>
    &gt;

    {{ object.name }}

    <span class="badge">
        {{ object.appears_in_assets.count }}
    </span>

{% endblock %}


{% block content %}

    <div class="row">
        {% for asset in object.appears_in_assets.all %}
            <div class="col-xs-6 col-sm-3 col-md-2">

                <div class="thumbnail" style="height: 180px; overflow: hidden">
                    <a href="{{ asset.get_absolute_url }}">
                        <img src="{{ asset.get_thumbnail_url }}" width="120"
                             height="90" alt="...">
                    </a>

                    <div class="caption">
                        <b><a href="{{ asset.series.get_absolute_url }}">{{ asset.series }}</a></b>:
                        פרק
                        {{ asset.episode }}
                        :
                        {{ asset.title }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

