{% extends "base.html" %}


{% block header %}
    {{ object.name }}
    <span class="badge">
        {{ object.assets.count }}
    </span>

{% endblock %}


{% block content %}



    {#    <iframe src='{{ object.video_url }}' style='overflow:hidden;height:480px;width:640px'></iframe>#}
    <div class="row">
        {% for asset in object.get_ordered_assets %}
            <div class="col-xs-6 col-sm-3 col-md-2">

                <div class="thumbnail" style="height: 180px; overflow: hidden">
                    <div class="badge">
                        פרק
                        {{ asset.episode }}
                        :
                        {{ asset.title }}
                    </div>
                    <a href="{{ asset.get_absolute_url }}">
                        <img src="{{ asset.get_thumbnail_url }}" width="120"
                             height="90" alt="...">
                    </a>

                    <div class="caption">
                        {{ asset.title }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

